src/main/mule/apireuse.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
  <flow name="core-platform-Login-flow" doc:id="48e4a132-7989-4e10-a6b4-e0e12cdd6277" >
    <ee:transform doc:name="Set Date and Error Variables" doc:id="1fff66b1-19ee-4027-b6f4-7a90d37c1b31">
      <ee:message />
      <ee:variables>
        <ee:set-variable resource="dw/aggregation/set-date-var.dwl" variableName="date" />
        <ee:set-variable resource="dw/aggregation/set-errors-var.dwl" variableName="errors" />
      </ee:variables>
    </ee:transform>
    <flow-ref doc:name="Get Token Flow Reference" doc:id="91b7fc06-9130-44c4-90c0-c57f9179b58d" name="api-call-coreservices-login-flow" target="token" targetValue="payload.access_token" />
    <flow-ref doc:name="CoreServices - Get Organizations" doc:id="0642cbd1-a005-4ab7-853c-3be54da81f20" name="api-call-coreservices-organizations-flow" />
    <ee:transform doc:name="Build Organizations including master org" doc:id="2f11e0ef-8dea-4894-b600-1c3ec203216c">
      <ee:message>
        <ee:set-payload resource="dw/aggregation/build-orgs-aggregation.dwl" />
      </ee:message>
    </ee:transform>
  </flow>
  <flow name="reuseMetrics-flow" doc:id="30b87a93-1bab-431a-939d-60c013261442" >
    <ee:transform doc:name="Initialize Business Groups List" doc:id="9c54892f-49e0-4a97-adea-efce062fb7cd">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="bgList" ><![CDATA[%dw 2.0
output application/json
---
[]]]></ee:set-variable>
        <ee:set-variable variableName="masterorgName" ><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"
---
(payload map (
 if($.id == vars.masterorgId) $.name 
 else null
 )) reduce ($$)]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="d8ebc470-6bec-4531-81a0-fc27ba884df2" collection="#[payload]">
      <ee:transform doc:name="Set Org Id, Name and Entitlements Vars" doc:id="63201132-cfdf-41e1-bc34-6c8248e53a0b">
        <ee:message />
        <ee:variables>
          <ee:set-variable resource="dw/aggregation/set-org-id-var.dwl" variableName="orgId" />
          <ee:set-variable resource="dw/aggregation/set-org-name-var.dwl" variableName="orgName" />
          <ee:set-variable resource="dw/aggregation/set-entitlements-var.dwl" variableName="entitlements" />
        </ee:variables>
      </ee:transform>
      <logger level="INFO" doc:name="Log - Aggregate metrics" doc:id="fcca4a91-6440-4480-9f15-444dd500191b" message="Aggregating metrics from the OrgId: #[vars.orgId]" />
      <try doc:name="Try" doc:id="0dc7e0bb-7bec-4ec7-af9d-f779fc1af6ad">
        <flow-ref doc:name="api-call-coreservices-environments-flow" doc:id="36cadee7-9b0e-487a-9570-b43e67d4c2c5" name="api-call-coreservices-environments-flow" />
        <error-handler>
          <on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="e70787c0-fffc-4ba4-9fe4-43a480122c97">
            <ee:transform doc:name="Build Error Message" doc:id="0c2620c3-dbcd-4404-abca-04a62d53a208">
              <ee:message >
							</ee:message>
              <ee:variables>
                <ee:set-variable variableName="envError" ><![CDATA[%dw 2.0
output application/json
---
{
	errorMessage: error.description,
	errorCode: error.exception.errorMessage.typedAttributes.statusCode default 500
}]]></ee:set-variable>
                <ee:set-variable variableName="errors" ><![CDATA[%dw 2.0
output application/json
---
(vars.errors) + (error.description)]]></ee:set-variable>
              </ee:variables>
            </ee:transform>
          </on-error-continue>
        </error-handler>
      </try>
      <choice doc:name="Choice" doc:id="e0f58f18-407f-4142-a5ce-6ffd5e2e4801" >
				<when expression="#[!isEmpty(payload.data)]">
					<ee:transform doc:name="Initialize Environments List" doc:id="788a7fab-c044-4f89-b49f-2958111ad771">
						<ee:message>
						</ee:message>
						<ee:variables >
							<ee:set-variable variableName="environmentsList" ><![CDATA[%dw 2.0
output application/json
---
[]]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
					<foreach doc:name="For Each" doc:id="a91f87ea-46b4-4d85-888b-8812e71d88df" collection="#[payload.data]">
        <flow-ref doc:name="Retrieve APIs" doc:id="30ee34c4-290e-4958-917f-de69073b82ba" name="get-API-flow" />
      </foreach>
				</when>
				<otherwise >
					<ee:transform doc:name="Environments List" doc:id="4d94fec1-c7ee-4c2b-865f-9ecbb9c7d1b7">
            <ee:message />
            <ee:variables>
              <ee:set-variable variableName="environmentsList"><![CDATA[%dw 2.0
output application/json
---
[]]]></ee:set-variable>
            </ee:variables>
          </ee:transform>
          <logger level="INFO" doc:name="Logger Failed to retrive api" doc:id="24b91252-4bbc-45a6-8140-b72b51fbc7c7" message="Getting API's failed"/>
				</otherwise>
			</choice>
			<ee:transform doc:name="Build Business Groups List" doc:id="6ea9db10-900e-4536-8c73-c03929b69ebc">
			<ee:message>
			</ee:message>
			<ee:variables>
					<ee:set-variable variableName="bgList" ><![CDATA[%dw 2.0
output application/json skipNullOn = "everywhere"
var envList = (vars.environmentsList reduce ((item, accum = {}) -> (
  accum ++ (item.EnvironmentName): item
)))

---
vars.bgList ++ 
[{
      "BusinessGroup": vars.orgName,
      "OrgID": vars.orgId,
      "Date": now(),
      "Period": "CYQ" ++ (now() as String {format: "qqq"}),
      "Error": vars.envError
} ++ envList]


]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
			<logger level="INFO" doc:name="Api Reuse Metrics Retrieved" doc:id="632a5790-91f7-44f1-97a8-cf107b3a9f25" message="Api Reuse Metrics Retrieved"/>
    </foreach>
		<ee:transform doc:name="Build Response" doc:id="4d00f497-09b7-41b0-b8cd-0b70f9d6b4ad" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.bgList]]></ee:set-payload>
			</ee:message>
			<ee:variables >
			</ee:variables>
		</ee:transform>
  </flow>
  <flow name="get-API-flow" doc:id="15b9f707-19d2-46c2-882c-d06986cc1ed7">
      <ee:transform doc:name="Initialize Environment Details" doc:id="96bd13f4-355c-4fd9-bc39-ed395acf5793">
        <ee:message />
        <ee:variables>
          <ee:set-variable variableName="environmentId"><![CDATA[%dw 2.0
output application/java
---
payload.id]]></ee:set-variable>
          <ee:set-variable variableName="environmentName" ><![CDATA[%dw 2.0
output application/java
---
payload.name]]></ee:set-variable>
          <ee:set-variable variableName="isprod" ><![CDATA[%dw 2.0
output application/java
---
payload.isProduction]]></ee:set-variable>
        </ee:variables>
      </ee:transform>
      <try doc:name="Try" doc:id="66a9e8f7-cbd8-4f68-b5f2-12b81ae2a232">
        <flow-ref doc:name="api-call-api-manager-apis-flow" doc:id="79f011e0-d3d3-4cde-80b6-1ae8c67f8c77" name="api-call-api-manager-apis-flow" />
        <error-handler>
          <on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="869a972f-cc74-4503-80ed-64ca0e6852b5">
            <ee:transform doc:name="Build Error Payload" doc:id="e2ba4de3-d62d-4073-a563-d0d17532e25d">
              <ee:message >
						</ee:message>
              <ee:variables>
              <ee:set-variable variableName="errors" ><![CDATA[%dw 2.0
output application/json
---
(vars.errors) + (error.description)]]></ee:set-variable>
              <ee:set-variable variableName="apiError" ><![CDATA[%dw 2.0
output application/json
---
{
	errorMessage: error.description,
	errorCode: error.exception.errorMessage.typedAttributes.statusCode default 500
}]]></ee:set-variable>
              </ee:variables>
            </ee:transform>
          </on-error-continue>
        </error-handler>
      </try>
      <remove-variable doc:name="Apis Total Obtained" doc:id="42d5e68b-f0fe-477a-a3e7-0dd0d2cf1894" variableName="apisTotalObtained" />
		<remove-variable doc:name="Requests Count" doc:id="9ff84a77-1afd-47b4-8bda-06e4606ab3d4" variableName="requestsCount"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="519c209b-148a-4c39-86aa-15d80a0577bf" >
			<route >
				<choice doc:name="Choice" doc:id="1b2dbce7-4733-4fb3-a3ff-6815a2620983">
      <when expression="#[payload.assets != null]">
        <ee:transform doc:name="Initialize API List" doc:id="91830456-13fd-4460-bcc9-19c26f9b5c54">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="apiList"><![CDATA[%dw 2.0
output application/json
---
[]]]></ee:set-variable>
            <ee:set-variable variableName="apiIdList"><![CDATA[%dw 2.0
output application/json
---
flatten((payload.assets) map (asset,indexOfasset) -> 
    (asset.apis map (api,indexOfApi) -> {
    apiId: (api.id),
    assetName: asset.exchangeAssetName
}))]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
        <foreach doc:name="For Each" doc:id="5c45cb2e-52f3-4c77-8d19-29c5805d6e2e" collection="payload.assets">
			<ee:transform doc:name="Set apiId" doc:id="e1ea13b4-9de3-4a12-ba54-f551028df005">
				<ee:message>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="apiId"><![CDATA[%dw 2.0
output application/java
---
payload.apis[0].id]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<try doc:name="Try" doc:id="5dad4619-98ac-4b21-8a49-20401f30b1f6">
				<flow-ref doc:name="api-call-api-manager-contracts-flow" doc:id="2b9d36e1-79de-4c74-9976-5a9b60c77192" name="api-call-api-manager-contracts-flow" />
				<error-handler>
					<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="bf3bf48f-4559-42e8-b1b3-257c1acb42b6">
						<ee:transform doc:name="Build Error Payload" doc:id="5b329fb7-240a-4285-adf7-8f9c37b054c7">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	errorMessage: error.description,
	errorCode: attributes.http.status.code default 500
}
]]></ee:set-payload>
							</ee:message>
							<ee:variables>
							</ee:variables>
						</ee:transform>
					</on-error-continue>
				</error-handler>
			</try>
			<ee:transform doc:name="Build API List" doc:id="f5d3450c-110d-47c6-b4c9-0705ae7c6630">
				<ee:message />
				<ee:variables>
					<ee:set-variable variableName="apiList"><![CDATA[%dw 2.0
output application/json skipNullOn = "everywhere"
---
vars.apiList ++ [{
	ApiId: vars.apiId,
    Contracts: payload.contracts map (contract,indexOfContract) -> {
        ContractId: contract.id,
        ContractName: contract.application.name,
        ApprovedDate: contract.approvedDate
    }
}] ]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
		</foreach>
      </when>
      <otherwise>
        <ee:transform doc:name="Build Error Payload" doc:id="e1805c66-e91a-4dea-a93b-ae70bcb9366c">
          <ee:message>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="apiList"><![CDATA[%dw 2.0
output application/json
---
[]]]></ee:set-variable>
          </ee:variables>
        </ee:transform>
        <logger level="INFO" doc:name="Logger" doc:id="55619170-e416-4a4a-9736-76a8ee99aa7b" message="Getting API's failed" />
      </otherwise>
    </choice>
			</route>
			<route >
				<flow-ref doc:name="Retrieve Reuse Analytics " doc:id="d58eebef-4e47-45e2-baaa-da6a9a29cc57" name="retrive-analytics-Flow"/>
			</route>
		</scatter-gather>
		<flow-ref doc:name="Retrieve Historical Reuse Metric Data" doc:id="9213125e-b85f-46e2-b224-928c191667f9" name="retrive-historical-reuse-metric-data-Flow"/>
		<ee:transform doc:name="Build Environments List" doc:id="9dc40a71-8703-4f7e-b13b-4614dba063a3" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="environmentsList" ><![CDATA[%dw 2.0
output application/json skipNullOn = "everywhere"
var totalApiList = flatten(vars.apiList..Contracts)
var currentTotalApis = sizeOf(vars.apiList) default 0
var currentTotalContracts = sizeOf(totalApiList) default 0
var currentUniqueContracts = sizeOf(totalApiList distinctBy ((item, index) -> item.ContractName)) default 0
var currentAverageRequestsPerContract = if ( currentTotalContracts != 0 ) vars.requestsCount / currentTotalContracts else 0
---
vars.environmentsList ++ 
[{
	"EnvironmentID": vars.environmentId,
	"EnvironmentName": vars.environmentName,
	"isProduction": vars.isProd,
	"CurrentTotalApis": currentTotalApis,
	"CurrentTotalContracts": currentTotalContracts,
	"CurrentUniqueContracts": currentUniqueContracts,
	"CurrentAverageRequestsPerContract": currentAverageRequestsPerContract as String {format: "#.##"} default 0,
	"DeltaTotalApis": currentTotalApis - vars.historicalData.TotalApis,
	"DeltaTotalContracts": currentTotalContracts - vars.historicalData.TotalContracts,
	"DeltaUniqueContracts": currentUniqueContracts - vars.historicalData.UniqueContracts,
	"DeltaRequestsPerContract": (currentAverageRequestsPerContract - vars.historicalData.RequestsPerContract) as String {format: "#.##"} default 0,
	"Apis": vars.apiList,
	"Error" : vars.apiError

}]]]></ee:set-variable>
				<ee:set-variable variableName="currentMetricData" ><![CDATA[%dw 2.0
output application/json skipNullOn = "everywhere"
var totalApiList = flatten(vars.apiList..Contracts)
var currentTotalApis = sizeOf(vars.apiList) default 0
var currentTotalContracts = sizeOf(totalApiList) default 0
var currentUniqueContracts = sizeOf(totalApiList distinctBy ((item, index) -> item.ContractName)) default 0
---
{
	"TotalApis": currentTotalApis,
	"TotalContracts": currentTotalContracts,
	"UniqueContracts": currentUniqueContracts,
	"RequestsPerContract": if ( currentTotalContracts != 0 ) vars.requestsCount / currentTotalContracts else 0,
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Store Current Reuse Metric Data Flow" doc:id="f5d376d0-f2ac-4af5-b339-57521fd04066" name="store-current-reuse-metric-data-Flow"/>
  </flow>
	<sub-flow name="retrive-analytics-Flow" doc:id="90e95544-8e52-42e9-8c51-5cc4f1af21df" >
		<flow-ref doc:name="Flow Reference" doc:id="f9b7a8ba-3705-4070-af9e-9a854fb3fc7d" name="api-call-analytics-query-flow"/>
		<ee:transform doc:name="Transform Message" doc:id="0d549dc2-abbd-40e5-8351-c8d433bb3abb" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="requestsCount" ><![CDATA[%dw 2.0
output application/java
---
sum((payload.response..client_id) flatMap (item,indexOfItem) -> item..count) default 0]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</sub-flow>
	<sub-flow name="retrive-historical-reuse-metric-data-Flow" doc:id="81f26694-63f7-46a5-af72-2c9bae95a8de" >
		<os:retrieve doc:name="Retrieve" doc:id="a51c7700-0800-4b99-ad0b-a9719ff79607" key="#[vars.environmentId]" objectStore="Reuse_MetricObject_store" target="historicalData">
					<os:default-value><![CDATA[#[output application/json
---
{
  "TotalApis": 0,
  "TotalContracts": 0,
  "UniqueContracts": 0,
  "RequestsPerContract": 0
}]]]></os:default-value>
				</os:retrieve>
	</sub-flow>
	<sub-flow name="store-current-reuse-metric-data-Flow" doc:id="887bd94e-834a-4f5b-b8d8-aa621bf0273f" >
		<os:store doc:name="Store" doc:id="38437240-2e93-417a-ab99-a1e906d7c79a" key="#[vars.environmentId]" objectStore="Reuse_MetricObject_store">
			<os:value ><![CDATA[#[vars.currentMetricData]]]></os:value>
		</os:store>
	</sub-flow>
</mule>
