src/main/mule/apireuse.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
  <flow name="core-platform-Login-flow" doc:id="fa7fb2e8-eeb1-4225-8bfb-51063d491e24" >
    <ee:transform doc:name="Set Date and Error Variables" doc:id="d62b4061-81e0-43f0-aee6-8f2657ee5728">
      <ee:message />
      <ee:variables>
        <ee:set-variable resource="dw/aggregation/set-date-var.dwl" variableName="date" />
        <ee:set-variable resource="dw/aggregation/set-errors-var.dwl" variableName="errors" />
      </ee:variables>
    </ee:transform>
    <flow-ref doc:name="Get Token Flow Reference" doc:id="0f521522-964c-4a6e-a067-ae609523ea6f" name="api-call-coreservices-login-flow" target="token" targetValue="payload.access_token" />
    <flow-ref doc:name="CoreServices - Get Organizations" doc:id="70fb23ac-8237-4120-bd21-ef3bdb397442" name="api-call-coreservices-organizations-flow" />
    <ee:transform doc:name="Build Organizations including master org" doc:id="fcaa1c4e-c18e-4f5b-a6df-60effb5ce84b">
      <ee:message>
        <ee:set-payload resource="dw/aggregation/build-orgs-aggregation.dwl" />
      </ee:message>
    </ee:transform>
  </flow>
  <flow name="reuseMetrics-flow" doc:id="9c4391b6-2124-4c04-9aa3-ba2cebcac24f" >
    <parallel-foreach doc:name="For Each" doc:id="8be93dc7-fa7b-4949-94c3-8c6d99e375d5" collection="#[payload]">
      <ee:transform doc:name="Set Org Id, Name and Entitlements Vars" doc:id="f51d58e6-7036-47a3-bf73-52e4a91f95d7">
        <ee:message />
        <ee:variables>
          <ee:set-variable resource="dw/aggregation/set-org-id-var.dwl" variableName="orgId" />
          <ee:set-variable resource="dw/aggregation/set-org-name-var.dwl" variableName="orgName" />
          <ee:set-variable resource="dw/aggregation/set-entitlements-var.dwl" variableName="entitlements" />
        </ee:variables>
      </ee:transform>
      <logger level="INFO" doc:name="Log - Aggregate metrics" doc:id="585d1131-1a1c-4869-869b-b17347c9f673" message="Aggregating metrics from the OrgId: #[vars.orgId]" />
      <try doc:name="Try" doc:id="c8ea54e1-71fa-42f8-978c-3c66c0851659">
        <flow-ref doc:name="api-call-coreservices-environments-flow" doc:id="fe31d9c5-d7ea-4b35-aea3-5491dbaf2a82" name="api-call-coreservices-environments-flow" />
        <error-handler>
          <on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="09b6a316-7d56-42b9-aefc-e10bf2034792" type="HTTP:UNAUTHORIZED">
            <ee:transform doc:name="Transform Message" doc:id="54966cb8-03a8-4542-a9ec-6c54ff199765">
              <ee:message />
              <ee:variables>
                <ee:set-variable variableName="envError"><![CDATA[%dw 2.0
output application/json
---
({
  "envId" : vars.environmentId,
  "orgId" : vars.orgId,
  "error" : "error",
  "code" : attributes.http.status.code
}) ++  (vars.envError ) 
default  ({
  "envId" : vars.environmentId,
  "orgId" : vars.orgId,
  "error" : "error",
  "code" : attributes.http.status.code
})]]></ee:set-variable>
              </ee:variables>
            </ee:transform>
          </on-error-continue>
        </error-handler>
      </try>
      <scatter-gather doc:name="Scatter-Gather" doc:id="0960a8ca-9fc7-44e7-b7ef-e75dd735fb52" >
        <route >
          <ee:transform doc:name="Transform Message" doc:id="b6532715-cebc-4b10-a0c8-da222e1b14cc" />
          <flow-ref doc:name="Flow Reference" doc:id="dad47d35-738f-4fa0-9226-ba485a14e4cd" name="get-API-flow" />
        </route>
        <route >
          <flow-ref doc:name="Flow Reference" doc:id="92713646-08e1-44d9-b0cb-dc9b93b2ea40" />
        </route>
      </scatter-gather>
    </parallel-foreach>
    <set-payload value="#[output application/json --- payload.payload]" doc:name="Set Final Payload" doc:id="8b70e956-a27e-4a4c-8344-162cd84f3bb9" />
  </flow>
  <flow name="get-API-flow" doc:id="90389331-fd22-49bc-aebc-592cbdc06727">
    <foreach doc:name="For Each" doc:id="634e855f-9897-46fe-9787-76cc628645e0" collection="#[payload.data]">
      <ee:transform doc:name="Transform Message" doc:id="9cb4a7df-5885-4ae0-9aac-6a020b4d0f0b">
        <ee:message />
        <ee:variables>
          <ee:set-variable variableName="environmentId"><![CDATA[%dw 2.0
output application/java
---
payload.id]]></ee:set-variable>
          <ee:set-variable variableName="environmentName" ><![CDATA[%dw 2.0
output application/java
---
payload.name]]></ee:set-variable>
          <ee:set-variable variableName="isprod" ><![CDATA[%dw 2.0
output application/java
---
payload.isProduction]]></ee:set-variable>
        </ee:variables>
      </ee:transform>
      <try doc:name="Try" doc:id="2b47dbda-84cc-49e5-b23c-99cc9dd9e6b1">
        <flow-ref doc:name="api-call-api-manager-apis-flow" doc:id="d5cbe36a-b8fb-4d61-8e81-04137f266cd4" name="api-call-api-manager-apis-flow" />
        <error-handler>
          <on-error-continue enableNotifications="true" logException="true" doc:name="Copy_of_On Error Continue" doc:id="58c2ddb9-2ffb-422f-95fb-fbaaae617997" type="HTTP:FORBIDDEN">
            <ee:transform doc:name="Transform Message" doc:id="69efbb92-cff5-4e13-a519-54de6e8ff8e0">
              <ee:message />
              <ee:variables>
                <ee:set-variable variableName="envError"><![CDATA[%dw 2.0
output application/json
---
({
  "envId" : vars.environmentId,
  "orgId" : vars.orgId,
  "error" : "error",
  "code" : attributes.http.status.code
}) ++  (vars.envError ) 
default  ({
  "envId" : vars.environmentId,
  "orgId" : vars.orgId,
  "error" : "error",
  "code" : attributes.http.status.code
})]]></ee:set-variable>
              </ee:variables>
            </ee:transform>
          </on-error-continue>
        </error-handler>
      </try>
      <remove-variable doc:name="Remove Variable" doc:id="e3fe2c4e-1d5d-42d1-a8fb-3b5b0218ae6d" variableName="apisTotalObtained" />
      <set-variable value="#[payload.total default 0]" doc:name="Set Variable" doc:id="6cfa9c81-7270-4036-936f-978e0c2134b5" variableName="totalApi" />
      <ee:transform doc:name="Transform Message" doc:id="d996fa31-630e-4306-a2c7-7b0857f79374">
        <ee:message />
        <ee:variables>
          <ee:set-variable variableName="totalAPi"><![CDATA[%dw 2.0
output application/json
---
if (payload.total != null) {
	
	"BusinessGroup" : vars.orgName,
  	"orgID" : vars.orgId,
  	"Environments" : [
  		"EnvironmentID" : vars.environmentId,
  		"EnvironmentName" : vars.environmentName,
  		"isProduction": vars.isprod,
  		"TotalAPI" : vars.totalApi
  	]	
} 

else
vars.totalApi  default {}]]></ee:set-variable>
        </ee:variables>
      </ee:transform>
    </foreach>
    <ee:transform doc:name="Transform Message" doc:id="5e024848-0cb6-4679-ace1-4d7cd1ee30b9" >
      <ee:message >
        <ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
(vars.totalAPi) ++ (vars.totalAPi) default vars.totalApi]]></ee:set-payload>
      </ee:message>
    </ee:transform>
  </flow>
</mule>
